.group {
  position: sticky;
  top: 0;
  padding-top: 1px;
  background-color: #fff;
}

.group-name {
  margin: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e9e9e9;
  color: #c5c5c5;
}

.contact-name {
  font-weight: 500;
  letter-spacing: 0.35px;
}

.contact-name__button {
  padding: 10px 15px;
  margin-left: 1px;
  margin-bottom: 1px;
  width: calc(100% - 2px);
  max-width: 250px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
}

.contact-name__button:hover {
  cursor: pointer;
  color: #0b5dde;
}

.contact-name__button--active,
.contact-name__button--active:hover {
  color: #fff;
  background-color: #0b5dde;
}
