.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.link {
  text-decoration: none;
  background-color: rgba(187,239,253,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #1a1a1a;
  line-height: 1.5em;
  padding: 0 10px;
}

.link:hover {
  background-color: #bbeffd;
  border-bottom: 1px solid #1a1a1a;
}
